services:
  chibisafe:
    image: chibisafe/chibisafe:latest
    environment:
      - BASE_API_URL=http://chibisafe_server:8000
    expose:
      - 8001
    restart: unless-stopped
    networks:
      - internal
  chibisafe_server:
    image: chibisafe/chibisafe-server:latest
    volumes:
      - ./database:/app/database:rw
      - ./uploads:/app/uploads:rw
      - ./logs:/app/logs:rw
    expose:
      - 8000
    restart: unless-stopped
    networks:
      - internal
  caddy:
    image: caddy:2-alpine
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - ./uploads:/app/uploads:ro
    expose:
      - 80
    environment:
      - BASE_URL=":80"
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.caddy.rule=Host(`your-domain-name.com`)"
      - "traefik.http.routers.caddy.entrypoints=https"
      - "traefik.http.routers.caddy.tls.certresolver=le"
    networks:
      - traefik_web
      - internal
networks:
  traefik_web:
    external: true
  internal:
    external: false
